*.log
*.pkg.tar.*
hawaii-qt5-wayland-git/src/qtwayland/
qtconfiguration-git/src/qtconfiguration/
qtaccountsservice-git/src/qtaccountsservice/
greenisland-git/src/greenisland/
hawaii-shell-git/src/hawaii-shell/
hawaii-system-preferences-git/system-preferences/
hawaii-system-preferences-git/libqtxdg/
hawaii-terminal-git/terminal/
hawaii-wallpapers-git/wallpapers/
hawaii-archiver-git/archiver/
hawaii-icon-themes-git/src/icon-themes/
hawaii-widget-styles-git/widget-styles/
eyesight-git/eyesight/
swordfish-git/swordfish/
libcommuni-git/libcommuni/
communi-desktop-git/communi-desktop/
communi-desktop-git/communi-shared/
libconnman-qt-git/libconnman-qt/
ttf-raleway-font-family/update-*-source.zip
yat-git/yat/
