*.log
*.pkg.tar.*
qtwayland-git/qtwayland/
qtconfiguration-git/qtconfiguration/
qtaccountsservice-git/qtaccountsservice/
extra-cmake-modules-git/extra-cmake-modules/
qt5-wayland-git/qtwayland/
hawaii-polkit-qt5-git/polkit-qt-1/
polkit-qt5-git/polkit-qt-1/
kde-solid-git/solid/
linux-user-chroot-git/linux-user-chroot/
ostree-git/ostree/
fluid-git/fluid/
greenisland-git/greenisland/
libhawaii-git/libhawaii/
hawaii-shell-git/hawaii-shell/
hawaii-system-preferences-git/system-preferences/
hawaii-system-preferences-git/libqtxdg/
hawaii-terminal-git/terminal/
hawaii-wallpapers-git/wallpapers/
hawaii-archiver-git/archiver/
hawaii-icon-themes-git/icon-themes/
hawaii-widget-styles-git/widget-styles/
eyesight-git/eyesight/
swordfish-git/swordfish/
libcommuni-git/libcommuni/
communi-desktop-git/communi-desktop/
communi-desktop-git/communi-shared/
libconnman-qt-git/libconnman-qt/
sddm-qt5-git/sddm/
qupzilla-qt5-git/qupzilla/
ttf-raleway-font-family/update-*-source.zip
yat-git/yat/
