*.log
*.pkg.tar.*
hawaii-qt5-wayland-git/src/qtwayland/
hawaii-qt5-wayland-rpi-git/src/
hawaii-qt5-wayland-rpi-git/qtwayland/
hawaii-qt5-wayland-rpi-git/sources/
hawaii-qt5-wayland-rpi-git/pkg/
qtconfiguration-git/src/qtconfiguration/
qtaccountsservice-git/src/qtaccountsservice/
greenisland-git/greenisland/
greenisland-git/src/
greenisland-git/pkg/
hawaii-shell-git/hawaii-shell/
hawaii-shell-git/src/
hawaii-shell-git/pkg/
hawaii-system-preferences-git/system-preferences/
hawaii-system-preferences-git/libqtxdg/
hawaii-terminal-git/terminal/
hawaii-wallpapers-git/wallpapers/
hawaii-wallpapers-git/src/
hawaii-wallpapers-git/pkg/
hawaii-archiver-git/archiver/
hawaii-icon-themes-git/icon-themes/
hawaii-icon-themes-git/src/
hawaii-icon-themes-git/pkg/
hawaii-widget-styles-git/widget-styles/
eyesight-git/eyesight/
swordfish-git/swordfish/
libcommuni-git/libcommuni/
communi-desktop-git/communi-desktop/
communi-desktop-git/communi-shared/
libconnman-qt-git/libconnman-qt/
ttf-raleway-font-family/update-*-source.zip
yat-git/yat/
qt5-qpa-rpi-plugin-git/src/
qt5-qpa-rpi-plugin-git/pkg/
qt5-qpa-rpi-plugin-git/qt5-qpa-rpi-plugin/
