pkgbase = yat-git
	pkgdesc = VT100 emulation screen written in C++ and QML
	pkgver = 0.20140304.9354b07
	pkgrel = 1
	url = https://github.com/jorgen/yat
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = gdb
	depends = qt5-base
	depends = qt5-declarative
	options = !libtool
	options = staticlibs
	options = debug
	source = yat::git://github.com/jorgen/yat.git#branch=master
	md5sums = SKIP

pkgname = yat-git

